<aside class="left" id="info" th:fragment="left-fragment">
        <div class="mt-5 sticky-sm-top">
            <ul class="nav">
                <!-- 상품 관리 기능 -->
                <ul>
                    <h4>상품 관리</h4>
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin/product/list">상품 목록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/product/create">상품 등록</a>
                    </li>
                </ul>
                  <!-- 상품 관리 기능 -->
                <ul>
                    <h4>상품 관리</h4>
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin/product/list">상품 목록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/product/create">상품 등록</a>
                    </li>
                </ul>
                  <!-- 상품 관리 기능 -->
                <ul>
                    <h4>상품 관리</h4>
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin/product/list">상품 목록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/product/create">상품 등록</a>
                    </li>
                </ul>
                  <!-- 상품 관리 기능 -->
                <ul>
                    <h4>상품 관리</h4>
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin/product/list">상품 목록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/product/create">상품 등록</a>
                    </li>
                </ul>

            </ul>
        </div>
</aside>