<th:block th:fragment="navbar-fragment">
    <div class="container" >
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <form class="d-flex" method="get">
                    <input class="form-control form-control-sm me-2" type="text" name="q" aria-label="Search">
                    <div class="mt-1 search" id="search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </form>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/user/login}">로그인</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/user/signup}">회원가입</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">장바구니</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">주문내역</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">마이핸즈</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                게시판
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">실종</a></li>
                                <li><a class="dropdown-item" href="#">입양</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</th:block>