<th:block th:fragment="navbar-fragment" xmlns:sec="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <form class="d-flex" method="get">
                    <input aria-label="Search" class="form-control form-control-sm me-2" name="q" type="text">
                    <div class="mt-1 search" id="search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </form>
                <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler" data-bs-target="#navbarNavDropdown" data-bs-toggle="collapse"
                        type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto" sec:authorize="isAnonymous()">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/user/login}">로그인</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/user/signup}">회원가입</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto" sec:authorize="isAuthenticated()">
                        <li class="nav-item">
                            <span class="nav-link">
                                <strong class="text-black" sec:authentication="principal.realName"></strong>
									님 환영합니다!
                            </span>
                        </li>
                        <div sec:authorize="hasRole('ROLE_ADMIN')">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/admin}">관리자 페이지</a>
                            </li>
                        </div>
                        <li class="nav-item">
                            <a class="nav-link" href="#">장바구니</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">주문내역</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">마이핸즈</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/logout}">로그아웃</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</th:block>