<html layout:decorate="~{layout/common-base}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<!-- 고유 CSS -->
<head>
    <link rel="stylesheet" th:href="@{/css/page/user/login.css}">
</head>
<!-- 고유 content -->
<div class="container" layout:fragment="content-top">
    <div class="card">
        <div class="card-header  py-1 pt-2 text-center">
            <h3>로그인</h3>
        </div>
        <div class="card-body">
            <form class="" method="post" action="/login">
                <div class="form-group">
                    <label class="form-label">아이디</label>
                    <input type="text" class="form-control" name="id" />
                </div>
                <div class="form-group mt-3">
                    <label class="form-label">비밀번호</label>
                    <input type="password" class="form-control" name="password" />
                </div>
                <div class="text-end">
                    <button type="submit" class="btn btn-primary mt-3">기존 회원 로그인</button>
                </div>
            </form>
        </div>
        <div class="">
            <h3 class="text-center mt-4">또는</h3>
            <ul class="loginBtnList" id="login_list">
                <li class="ms-3">
                    <a th:href="@{/OAuth}" class="login -icoType -kakao externalLogin">
                        <img src="/images/login/kakao_login.png">
                    </a>
                </li>
                <li class="ms-3">
                    <a th:href="@{/OAuth}" class="login -icoType -google externalLogin">
                        <img src="/images/login/google_login.png">
                    </a>
                </li>
                <li class="ms-3">
                    <a th:href="@{/OAuth}" class="login -icoType -naver externalLogin">
                        <img src="/images/login/naver_login.png">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- 모달 등 추가 div가 필요할 경우만 사용 -->
<div layout:fragment="content-bottom">
    <div class="modal">
        <h1>modal영역</h1>
    </div>
</div>
<!-- 고유 script -->
<th:block layout:fragment="script">
    <script></script>
</th:block>
</html>