<html layout:decorate="~{layout/common-base}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<!-- 고유 CSS -->
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/page/main/home.css}">
</head>
<!-- 고유 content -->

<!-- 슬라이드 시작 -->
<div class="container" layout:fragment="content-top">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/home-image1.jpg" class="d-block w-100" alt="슬라이드 이미지">
            </div>
            <div class="carousel-item">
                <img src="/images/home-image1.jpg" class="d-block w-100" alt="슬라이드 이미지">
            </div>
            <div class="carousel-item">
                <img src="/images/home-image1.jpg" class="d-block w-100" alt="슬라이드 이미지">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- 슬라이드 닫힘 -->

    <!--상품 카테고리 -->
    <div class="product-category">
        <div class="category-container py-3">
            <div class="category-item item">
                <a class="text-black text-decoration-none">
                    <strong>
                        <span>핸즈DAY</span>
                    </strong>
                </a>
            </div> <div class="category-item item">
                <a class="text-black text-decoration-none">
                    <strong>
                        <span>베스트</span>
                    </strong>
                </a>
            </div>
            <div class="category-item item">
                <a class="text-black text-decoration-none">
                    <strong>
                        <span>강아지</span>
                    </strong>
                </a>
            </div>
            <div class="category-item item">
                <a class="text-black text-decoration-none">
                    <strong>
                        <span>고양이</span>
                    </strong>
                </a>
            </div>
            <div class="category-item item">
                <a class="text-black text-decoration-none">
                    <strong>
                        <span>주식</span>
                    </strong>
                </a>
            </div>
            <div class="category-item item">
                <a class="text-black text-decoration-none">
                    <strong>
                        <span>간식</span>
                    </strong>
                </a>
            </div>
            <div class="category-item item">
                <a class="text-black text-decoration-none">
                    <strong>
                        <span>건강보조제</span>
                    </strong>
                </a>
            </div>
            <div class="category-item item">
                <a class="text-black text-decoration-none">
                    <strong>
                        <span>패션</span>
                    </strong>
                </a>
            </div>
        </div>
    </div>

    <!-- 인기 상품 -->
    <div class="best-container my-3">
        <div class="col-12 text-center">
            <h2>이 상품 지금 HOT해요!</h2>
        </div>
        <div class="row row-custom">
            <div class="col best-item">
                <div class="card">
                    <img src="/images/home-image1.jpg" class="card-img-top" alt="상품 이미지">
                    <div class="card-body">
                        <h5 class="card-title separator">뼈 튼튼 사료</h5>
                        <p class="card-text">25,000</p>
                    </div>
                </div>
            </div>
            <div class="col best-item">
                <div class="card">
                    <img src="/images/home-image1.jpg" class="card-img-top" alt="상품 이미지">
                    <div class="card-body">
                        <h5 class="card-title separator">강아지 패딩</h5>
                        <p class="card-text">37,000</p>
                    </div>
                </div>
            </div>
            <div class="col best-item">
                <div class="card">
                    <img src="/images/home-image1.jpg" class="card-img-top" alt="상품 이미지">
                    <div class="card-body">
                        <h5 class="card-title">캣잎</h5>
                        <p class="card-text">13,000</p>
                    </div>
                </div>
            </div>
            <div class="col best-item">
                <div class="card">
                    <img src="/images/home-image1.jpg" class="card-img-top" alt="상품 이미지">
                    <div class="card-body">
                        <h5 class="card-title">캣잎</h5>
                        <p class="card-text">13,000</p>
                    </div>
                </div>
            </div>
            <div class="col best-item">
                <div class="card">
                    <img src="/images/home-image1.jpg" class="card-img-top" alt="상품 이미지">
                    <div class="card-body">
                        <h5 class="card-title">츄르 1box</h5>
                        <p class="card-text">28,000</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 신상품 -->
    <div class="new-container my-3">
        <div class="col-12 text-center">
            <h2>새로 나왔어요!</h2>
        </div>
        <div class="row row-custom">
            <div class="col new-item" th:each="product : ${products}">
                <div class="card">
                    <img th:src="${product.thumbnailPath}" class="card-img-top" alt="상품 이미지">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${product.name}">상품명</h5>
                        <p class="card-text" th:text="|${#numbers.formatInteger(product.price, 0, 'COMMA')}원|">가격</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- 모달 등 추가 div가 필요할 경우만 사용 -->
<div layout:fragment="content-bottom">
    <div class="modal">
        <h1>modal영역</h1>
    </div>
</div>
<!-- 고유 script -->
<script>

</script>
</html>