@charset "UTF-8";

.layout {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	width: 95%;
	padding-right: calc(var(--bs-gutter-x) * .5);
	padding-left: calc(var(--bs-gutter-x) * .5);
	margin-right: auto;
	margin-left: auto;
}

.left {
	width: 14%;
}

li {
    list-style: none;
}
.nav-link {
    display: flex;
	justify-content: flex-end;
}
.right {
	width: 15%;
}
.content {
	width: 72%;
}


@media screen and (max-width: 570px) {
	.layout {
		flex-direction: column;
	}
	.left {
		width: 100%;
	}
	.layout .content {
		margin-top: 10px;
		width: 100%;
	}
	.read-cnt {
		display: none;
	}
	.right {
		width: 100%;
	}
}