<html layout:decorate="~{layout/common-base}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<!-- 고유 CSS -->
<head>
    <link rel="stylesheet" th:href="@{/css/page/product/list.css}">
</head>
<!-- 고유 content -->
<div class="container" layout:fragment="content-top">
    <h3 th:text="${categoryResult.name}" class="my-3">강아지</h3>
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <ul class="nav nav-pills card-header-pills">
                    <div th:each="children : ${categoryResult.relatedCategories}">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/product/list(categoryNo=${children.no})}" th:text="${children.name}">하위 카테고리 이름</a>
                        </li>
                    </div>
                </ul>
                <div class="d-flex">
                    <select onchange="changeSortOrder(this.value)" class="form-select me-3" name="sort"
                            style="width: 150px;">
                        <option value="createdDate,DESC" th:selected="${sortString == 'createdDate,ASC'}">신상품순
                        </option>
                        <option value="sale,ASC" th:selected="${sortString == 'sale,ASC'}">낮은 가격순
                        </option>
                        <option value="sale,DESC" th:selected="${sortString == 'sale,DESC'}">높은 가격순
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="best-container my-3">
        <div class="row row-custom">
            <div th:if="${#lists.isEmpty(categoryResult.products.content)}" class="col-12 text-center">
                <h4 colspan="5" class="text-center">현재 상품이 존재하지 않습니다.</h4>
            </div>
            <div class="col-auto product-item mb-5" th:each="product : ${categoryResult.products}">
                <div class="card">
                    <a th:href="@{/product/detail/{productNo}(productNo=${product.no})}">
                        <img alt="상품 이미지" class="card-img-top" th:src="${product.thumbnailPath}">
                    </a>
                    <h5 class="card-title" th:text="${product.name}">상품명</h5>
                    <p class="card-text">
                        <span th:if="${product.sale < product.price}" style="text-decoration: line-through;"
                              th:text="${#numbers.formatInteger(product.price, 0, 'COMMA')} + '원'">가격</span>
                        <span th:if="${product.sale < product.price}" class="fw-bold"
                              style="color: red; margin-left: 10px;"
                              th:text="${#numbers.formatInteger(product.sale, 0, 'COMMA')} + '원'">세일 가격</span>
                        <span th:unless="${product.sale < product.price}"
                              th:text="${#numbers.formatInteger(product.price, 0, 'COMMA')} + '원'">가격</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="" style="background-color: white;">
        <div>
            <div>
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" th:href="@{/product/list(categoryNo=${categoryResult.no}, page=0, size=${pageable.pageSize}, sort=${sortString})}"><i
                                class="fa-solid fa-angles-left"></i></a>
                    </li>
                    <li th:if="${totalPages > 0}" th:each="pageNum : ${#numbers.sequence(startPage, endPage)}" th:classappend="${pageable.pageNumber == pageNum} ? 'active' : ''"class="page-item">
                        <a th:href="@{/product/list(categoryNo=${categoryResult.no}, page=${pageNum}, size=${pageable.pageSize}, sort=${sortString})}" class="page-link" th:text="${pageNum + 1}"></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/product/list(categoryNo=${categoryResult.no}, page=${totalPages - 1}, size=${pageable.pageSize}, sort=${sortString})}"><i
                                class="fa-solid fa-angles-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 모달 등 추가 div가 필요할 경우만 사용 -->
    <div layout:fragment="content-bottom">
        <div class="modal">
            <h1>modal영역</h1>
        </div>
    </div>
    <!-- 고유 script -->
    <th:block layout:fragment="script">
        <script th:src="@{/js/page/product/list.js}"></script>
    </th:block>
</div>
</html>